html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
    -webkit-font-smoothing: antialiased;
}
div {
    border: 1px solid Chocolate;
}




/*Navigation Section*/
.top-navigation {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

.top-navigation> .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}
.top-navigation .links {
    float: right;
    color: #686D75;
    font-size: 1.04rem;
    margin-top: 1.7rem;
    cursor:pointer;
}
.nav-fade li {
  opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.nav-fade li:hover {
 opacity: 0.5;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li .color:hover {
	background:#53a7ea;
}
.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}
@media (min-width: 48rem)
.content {
    width: 46rem;
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}
.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.introduction h1, .introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}

.introduction .buttons {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}
button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}
button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
    cursor:pointer;
}



